input[type="range"]::-webkit-slider-thumb {
  z-index: 1 !important;
  -webkit-appearance: none;
  background: url("../images/Oval.svg") no-repeat center center;
  cursor: pointer;
  width: 28px;
  height: 28px;
}
#myrange {
  height: 28px;
  width: 28px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--Very-Dark-Grey, #18171f);
}

input[type="checkbox"]:checked {
  background: var(--Neon-Green, #a4ffaf);
  border: 2px solid var(--Neon-Green, #a4ffaf);
  background-image: url("/images/icon-check.svg");
  background-position: center;
  background-repeat: no-repeat;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: url("../images/Oval2.svg") no-repeat center center;
  border-radius: 50%;
  border: 2px solid #a4ffaf;
}
